@import '../../video_func/node_modules/highlight.js/styles/default.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100px;
}

h1 {
  color: dodgerblue;        /*  Just chose this color for now, will update later with rest of styling */
  font-size: 3.2em;
  line-height: 1.1;
}

/*  The main thing causing all of the elenents to be completely centered is the "root" below */
/*  When we start moving around elements more, we might wanna get rid of it and manually center/place elements */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;       
} 
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ------------ Buttons ------------ */
button { /* Not Yet Clicked */
  color: dodgerblue;
  background-color: #1a1a1a;
  border: 2px solid dodgerblue !important;  /* DONT KNOW WHY THE BORDER ISNT SHOWING UP WITHOUT THE "!important" */
  cursor: pointer;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover { /* When Hovering Before Clicked */
   color:black;
   background-color: lightgray;
   text-decoration: underline;
}

button:active { /* Mouse Pressed but not yet finsihed */
   color:red;
   background-color: rgb(176, 175, 175);
   text-decoration: underline;
   font-weight: bold;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */ 

/* ------ App.jsx Stuff ------ */
.container {
  display: flex;
  margin: 20px;
}

.video-container {
  flex: 1;
  margin: 20px;
}

.code-compiler-container {
  margin: 20px;
}

/* ------ Code Compiler Stuff ------ */
.compiler-title {
  color: dodgerblue;
}

/* .enter-code-here-label {
  float:left;
} */

/* .input {
  resize: 'vertical' ;
  font: monospace, ;
  white-space: 'pre-wrap';
  word-wrap: 'break-word';      // FIXME: Check later to ensure this isn't needed anymore
} */

.output {
  padding: 10px;
}

.language-selector{
  margin: 15px;
}

.language-buttons-container {
  margin: 15px;
}
